/* Codigo FlexBox*/
.flexbox-container {
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-content: stretch;
  align-content: space-between;
  align-content: space-around;
  align-content: center;
  align-content: flex-start;
  align-content: flex-end;
}

.flexbox-item {
  font-size: 40px;
  /* width: 150px; */
  height: 100px;
}
