/* Codigo FlexBox*/
.flexbox-container {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: row;

  flex-direction: column;

  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: flex-start;
  justify-content: center;

  align-items: flex-start;
  align-items: flex-end;
  align-items: baseline;
  align-items: stretch;
  align-items: center;
}

.flexbox-item {
  font-size: 40px;
  width: 100px;
  height: 100px;
}
